main:
  with_watchdog: true
  show_camera: true


drive_config:
  # Maximum linear velocity (m/s).
  v_max: 0.8

  # Maximum linear acceleration (m/s^2).
  a_max: 1.2

  # Encoder ticks per revolution of the wheel motor.
  ticks_per_rev: 6528
  
  # (Wheel gear diameter) / (Motor gear diameter).
  # Less than 1 means wheels rotate faster than the motor.
  gear_ratio: 0.5

  # Diameter of the wheels (meters).
  wheel_diameter: 0.07

  # Distance between the left and right wheels (meters).
  wheel_base: 0.332


controller_thread:
  frequency: 60

  # Maximum time without detecting a ball in PICKUP state before switching to SEARCH state (ms)
  max_pickup_timeout: 1000

  # --- RAMSETE controller config ---
  # Responsiveness tuning parameter for the RAMSETE controller.
  b: 2.0

  # Damping coefficient for the RAMSETE controller.
  zeta: 0.7

  # Maximum time before forcing a new motion profile (seconds).
  replanning_max_delay: 0.5

  # Maximum movement of the ball before replanning (meters).
  replanning_drift_threshold: 0.05 # 5cm
  
  # Lookahead time for the motion profile (seconds).
  lookahead_time: 0.1


iot_thread:
  frequency: 10
  pi_stream_password: "pongworks1110"
  server_ws: "ws://ese.pongworks.dpdns.org/pi_stream"
  resized_size: [320, 240]


sensor_thread:
  frequency: 100

  # Maximum number of lines to read from the serial interface per loop.
  max_lines_read_per_loop: 50
  
  # Filter coefficient between IMU yaw and motor encoder localization. Must be between 0 and 1.
  # Values closer to 1 give more weight to the IMU.
  alpha: 0.5


camera_thread:
  frequency: 10

  # --- Model config ---
  model_path: "threads/vision/detection_models/pong_11-2-25_1226AM_small.onnx"
  frame_size: [640, 480]
  model_input_size: [256, 256]
  min_score: 0.3
  exposure_time: 5000

  # --- Pose estimation config---
  # We assume the bottom edge of the camera is parallel with the plane of the floor.
  # The robot coordinate system is defined below:
  #
  #         ^ +Y (left of robot)
  #         |
  # __________________
  # |                |
  # |                |
  # |      <-\ +H    | --> +X (front of robot)
  # |       _/       |
  # |                |
  # ------------------
  
  # Usually the width of the camera in pixels
  FOV: 640
  fov_x: 66
  fov_y: 41
  
  # The camera's positive angle from the vertical (degrees)
  lens_incline: 21

  # The height of the camera lens from the ground (cm)
  lens_height: 20

  # The lateral offset of the camera lens from the center of the robot (cm)
  lens_lateral_offset: 0

  # The forward offset of the camera lens from the center of the robot (cm)
  lens_forward_offset: 0

  # The angular offset of the camera lens from the robot's forward direction,
  # where counterclockwise is positive (degrees)
  lens_angular_offset: 0

  # Diameter of the ping-pong ball (cm)
  pong_ball_diameter: 4


arduino_serial_interface:
  serial_port: "/dev/ttyACM0"
  baudrate: 115200
