camera:
  frequency: 10
  model_path: "threads/vision/detection_models/pong_11-2-25_1226AM_small.onnx"
  input_size: [256, 256]
  min_score: 0.3
  exposure_time: 5000

arduino_serial:
  frequency: 100
  serial_port: "/dev/ttyACM0"
  baudrate: 115200
  max_lines_read_per_loop: 50

main:
  with_watchdog: true
  show_camera: true