main:
  with_watchdog: true
  show_camera: true


arduino_serial_interface:
  # Path to the USB serial port 
  serial_port: "/dev/ttyACM0"

  # Baudrate, must be same as Arduino's
  baudrate: 19200


websocket_interface:
  # WebSocket URL to send data to
  server_ws: "ws://ese.pongworks.dpdns.org/pi_stream"

  # Entry password set by the WebSocket endpoint
  pi_stream_password: "pongworks1110"


drive_config:
  # Maximum linear velocity (m/s).
  v_max: 0.8

  # Maximum linear acceleration (m/s^2).
  a_max: 1.2

  # Encoder ticks per revolution of the wheel motor.
  ticks_per_rev: 6528
  
  # (Wheel gear diameter) / (Motor gear diameter).
  # Less than 1 means wheels rotate faster than the motor.
  gear_ratio: 0.5

  # Diameter of the wheels (meters).
  wheel_diameter: 0.07

  # Distance between the left and right wheels (meters).
  wheel_base: 0.332


controller_thread:
  frequency: 30

  # Maximum time without detecting a ball in PICKUP state before switching to SEARCH state (ms)
  max_pickup_timeout: 1000

  # --- RAMSETE controller config ---
  # Responsiveness tuning parameter for the RAMSETE controller.
  b: 2.0

  # Damping coefficient for the RAMSETE controller.
  zeta: 0.7

  # Maximum time before forcing a new motion profile (seconds).
  replanning_max_delay: 0.5

  # Maximum movement of the ball before replanning (meters).
  replanning_drift_threshold: 0.05 # 5cm
  
  # Lookahead time for the motion profile (seconds).
  lookahead_time: 0.1


iot_camera_feed_thread:
  frequency: 10

  # Dimensions of the video feed frame, in pixels
  resized_size: [320, 240]


iot_minimap_thread:
  frequency: 10

  # Colors
  BG_COLOR: [20, 20, 20]
  MINOR_COLOR: [40, 40, 40]
  MAJOR_COLOR: [70, 70, 70]
  FAR_DETECTION_COLOR: [93, 206, 250]
  BEST_DETECTION_COLOR: [50, 129, 239]

  # Dimensions of the minimap image, in pixels
  minimap_size: [640, 320]

  # Physical width represented by the minimap
  width_meters: 4.0 

  # Number of equally-spaced grid lines drawn per meter 
  meter_subdivisions: 4


sensor_thread:
  frequency: 30

  # Maximum number of lines to read from the serial interface per loop.
  max_lines_read_per_loop: 10
  
  # Filter coefficient between IMU yaw and motor encoder localization. Must be between 0 and 1.
  # Values closer to 1 give more weight to the IMU.
  alpha: 0.5


camera_thread:
  frequency: 10

  # --- Model config ---
  # Path to the YOLO model
  model_path: "threads/vision/detection_models/pong_11-2-25_1226AM_small.onnx"

  # Camera output frame size, in pixels
  frame_size: [640, 480]

  # Model input frame size, in pixels
  model_input_size: [256, 256]

  # Reject detections with confidence lower than this threshold
  min_score: 0.3

  # Camera module exposure time, in microseconds
  exposure_time: 5000

  # --- Pose estimation config---
  # We assume the bottom edge of the camera is parallel with the plane of the floor.
  # The robot coordinate system is defined below:
  #
  #         ^ +Y (left of robot)
  #         |
  # __________________
  # |                |
  # |                |
  # |      <-\ +H    | --> +X (front of robot)
  # |       _/       |
  # |                |
  # ------------------
  
  # Usually the width of the camera in pixels
  FOV: 640

  # Horizontal FOV (degrees)
  fov_x: 66

  # Vertical FOV (degrees)
  fov_y: 41
  
  # The camera's positive angle from the vertical (degrees)
  lens_incline: 23

  # The height of the camera lens from the ground (m)
  lens_height: 0.20

  # The forward offset of the camera lens from the center of the robot (m)
  # When facing forward, the +x direction is forward
  lens_x_offset: 0.00

  # The lateral offset of the camera lens from the center of the robot (m)
  # When facing forward, the +y direction is to the left
  lens_y_offset: 0.00

  # The angular offset of the camera lens from the robot's forward direction (degrees)
  # When facing forward, the angular offset is 0 and counter-clockwise is positive
  lens_angular_offset: 0

  # Diameter of the ping-pong ball (m)
  pong_ball_diameter: 0.04
